				<div class="col-md-4">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Ad
							</label>
							<input type="ad" class="form-control" id="exampleInputEmail1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Soyad
							</label>
							<input type="soyad" class="form-control" id="exampleInputPassword1">
						</div>
					</form>
					<input type="submit" name="" value="Uzman Bul">
				</div>
				<div class="col-md-4">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Uzmanlık
							</label>
							<input type="uzmanlik" class="form-control" id="exampleInputEmail1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Üniversite
							</label>
							<input type="universite" class="form-control" id="exampleInputPassword1">
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Şehir
							</label>
							<input type="sehir" class="form-control" id="exampleInputEmail1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Ülke
							</label>
							<input type="ulke" class="form-control" id="exampleInputPassword1">
						</div>
					</form>
				</div>